<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shuangduan.zcy">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required -->
    <permission
        android:name="com.shuangduan.zcy.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required -->
    <uses-permission android:name="com.shuangduan.zcy.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.shuangduan.zcy.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_about"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_about"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        android:networkSecurityConfig="@xml/network_config"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0c36af45d9d91702919613d75a2f53a2"/>

        <activity android:name="com.shuangduan.zcy.view.login.FirstActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shuangduan.zcy.view.login.LoginActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.shuangduan.zcy.view.login.RegisterActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.shuangduan.zcy.view.login.UserInfoInputActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.shuangduan.zcy.view.MainActivity" android:screenOrientation="portrait" android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.shuangduan.zcy"
                    android:path="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name="com.shuangduan.zcy.view.login.MobileVerificationActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UserInfoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.shuangduan.zcy.view.mine.WithdrawActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" android:theme="@style/AppThemeBgGray" />
        <activity android:name="com.shuangduan.zcy.view.mine.UpdateNameActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UpdateMobileActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.ForgetPwdActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UpdateResultActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UpdateEmailActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UpdatePwdActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.AuthenticationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.BindBankCardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.CompanySearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.BusinessAreaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.HelperActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.SetActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.AboutOursActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.RecommendFriendsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.FeedbackActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.ReadHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.MineSubActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.MineCollectionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.BalanceActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.BankCardListActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.WithdrawRecordActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.mine.WithdrawDetailActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UnbindBankCardActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.mine.UpdateProductionActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.mine.MineOrderActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.mine.OrderSubActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.mine.PwdPayActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UpdatePwdPayActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.ForgetPwdPayActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.SetPwdPayActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.ExplainDetailActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.mine.TransRecordActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.mine.TransRecordDetailActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.MineDemandActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.recharge.RechargeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.recharge.RechargeRecordActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.recharge.RechargeResultActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.recharge.RechargeRecordDetailActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray" />
        <activity android:name="com.shuangduan.zcy.view.income.MineIncomeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.income.IncomeClassifyActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.income.IncomeReleaseActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.income.IncomeProductRightsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.income.IncomePeopleActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.income.IncomeLocusActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.income.IncomeMsgActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.people.PeopleInfoActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.people.IncomeRecordActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.projectinfo.ProjectInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.ProjectInfoListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.ProjectDetailActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.GoToSubActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.SubOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.SubInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.ProjectErrorActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.LocusOwnerDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.recruit.RecruitActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.recruit.RecruitDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.material.MaterialActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.material.MaterialOrderSuccessActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.material.MaterialDetailActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.supplier.SupplierActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.supplier.SupplierDetailActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.supplier.SupplierJoinActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.release.ReleaseListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.release.ReleaseProjectActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name="com.shuangduan.zcy.view.release.ReleaseTypeSelectActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.release.ReleaseAreaSelectActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.release.LocationMapActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.release.ContactTypeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.release.ProjectSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.release.ReleaseStageSelectActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.search.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.search.SearchResultActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.headlines.HeadlinesActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.headlines.HeadlinesDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.demand.DemandActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.demand.DemandReleaseActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.demand.FindRelationshipDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.demand.FindSubstanceDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.demand.ReleaseRelationshipOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.demand.FindBuyerDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.demand.FindRelationshipAcceptDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.demand.FindRelationshipReleaseDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.PhotoViewActivity" android:screenOrientation="portrait" android:theme="@style/PhotoViewTheme"/>
        <activity android:name="com.shuangduan.zcy.view.MultiAreaActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.PayActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.rongyun.view.IMSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.rongyun.view.IMAddFriendActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.rongyun.view.IMPrivateChatActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.shuangduan.zcy"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name="com.shuangduan.zcy.rongyun.view.NewFriendsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.wxapi.WXPayEntryActivity" android:screenOrientation="portrait" android:launchMode="singleTop" android:exported="true"/>
        <activity android:name="com.shuangduan.zcy.rongyun.view.IMContactsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.rongyun.view.IMFriendMoreActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.rongyun.view.IMGroupMoreActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.rongyun.view.IMGroupDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.rongyun.view.IMGroupMembersActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:taskAffinity="net.sourceforge.simcpux"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx2e2f0d4ccdf3e52f"/>
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shuangduan.zcy.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path">

            </meta-data>
        </provider>

        <!--QQ start-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="1107824707" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--QQ end-->

        <!--极光推送 start-->
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name=".service.JpushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".service.MessageReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.shuangduan.zcy" />
            </intent-filter>
        </receiver>

        <!--极光推送 end-->

    </application>

</manifest>