<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shuangduan.zcy">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.shuangduan.zcy.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0c36af45d9d91702919613d75a2f53a2"/>

        <activity android:name="com.shuangduan.zcy.view.MainActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shuangduan.zcy.view.login.RegisterActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.shuangduan.zcy.view.login.LoginActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.shuangduan.zcy.view.login.UserInfoInputActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.shuangduan.zcy.view.login.FirstActivity" android:screenOrientation="portrait" />
        <activity android:name="com.shuangduan.zcy.view.login.MobileVerificationActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UserInfoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.shuangduan.zcy.view.mine.WithdrawActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" android:theme="@style/AppThemeBgGray" />
        <activity android:name="com.shuangduan.zcy.view.mine.UpdateNameActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UpdateMobileActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UpdatePwdActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UpdateResultActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.UpdateEmailActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.AuthenticationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.BindBankCardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.CompanySearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.BusinessAreaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.HelperActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.SetActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.mine.AboutOursActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.RecommendFriendsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.FeedbackActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.mine.ReadHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.ProjectInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.ProjectInfoListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.ProjectDetailActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeBgGray"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.GoToSubActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.SubOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.projectinfo.SubInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.recruit.RecruitActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.recruit.RecruitDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.release.ReleaseListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.release.ReleaseProjectActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.shuangduan.zcy.view.PhotoViewActivity" android:screenOrientation="portrait" android:theme="@style/PhotoViewTheme"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shuangduan.zcy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public">

            </meta-data>
        </provider>
    </application>

</manifest>